services:
  # CustomPiOS_prep:
    # image: ghcr.io/guysoft/custompios:devel
    # container_name: ${DISTRO_NAME}-build
    # tty: true
    # restart: always
    # privileged: true
    # volumes:
    #   - ./:/distro
    # devices:
    #   - /dev/loop-control

  CustomPiOS:
    image: ghcr.io/guysoft/custompios:devel
    container_name: MonsterPi-image
    tty: true
    restart: always
    privileged: true
    volumes:
    - ./src/:/distro
    devices:
    - /dev/loop-control
