---

name: Build Image
on:
  pull_request:
  push:
    branches:
      - 'main'
      - '!release/*'
    paths:
      - 'src/*'
      - '.github/workflows/build.yaml'

jobs:
  build:
    uses: ./.github/workflows/_build-image.yaml
    with:
      version_strategy: 'build'
      create_release: false
      fetch_depth: 0
      # Just for previewing the release notes.
      release_notes_suffix: 'This is a build run (not released).'
