---

name: Build Image
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'main'
      - '!release/*'
    paths:
      - 'src/*'
      - '.github/workflows/build.yaml'
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    uses: ./.github/workflows/_build-image.yaml
    with:
      version_strategy: 'nightly'
      create_release: false
      always_zip: ${{ github.event_name == 'schedule' }}
      fetch_depth: 1
