---

name: Release
on:
  push:
    branches:
      - 'release/*'

jobs:
  release:
    if: startsWith(github.ref, 'refs/heads/release')
    uses: ./.github/workflows/_build-image.yaml
    with:
      version_strategy: 'release'
      create_release: true
      always_zip: true
      fetch_depth: 0
